<p>Hello!</p>
<p>You have been invited as a tenant!</p>
<p>
  <a href='<%= url %>'>Accept Invitation</a>
</p>
<p>
  Thank you for using our application!
</p>
<p>
  Regards,
  <br />
  <%= process.env.APP_NAME %>
</p>
<hr />
<p>
  If you're having trouble clicking the "Accept Invitation" button, copy and
  paste the URL below into your web browser:
  <%= url %>
</p>